body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, hsla(217, 45%, 40%, 1) 0%, hsla(225, 45%, 28%, 1) 100%);
    object-fit: cover;
}

.myContainer{
    height: 100vh;
    object-fit: cover;
}
nav #logo{
    width: 15%;
    height: auto;
    margin: 0px;
}

 nav{
    background-color: black;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}
 ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0px;
}

li{
    list-style: none;
    color: #fb8500;
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
}

.main {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    padding: 0rem 5rem;
}

.main .task-section{
    height: 90vh;
    width: 40%;
    display: grid;
    place-items: center;
}

.main .task-section img{
    height: 3rem;
}

.main .user-activity{
    width: 70%;
}

#task , #test, #results{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

 .messages{
    border: 1px solid;
    width: 30%;
    height: 80%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(0%);
    z-index: 9;
    transition: 0.2s all ease-in-out;
}

.messages button{
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
    border: none; 
}

.messages .msg-box{
    border: 1px solid;
    height: fit-content;
    position: absolute;
    width: 100%;
    top: 20%;
    transform: translateY(-20%);
}
.messages h4{
    text-align: center;
    margin: 1rem 0rem;
}

#mainBg img{
    width: 50%;
    height: 90vh;
}



